report/
.idea/
/.idea/
target/
static/
.mtj.tmp/
### Java template
# Compiled class file
*.class

# Log file
*.log


# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tgz
*.tar
*.license
*.tar.gz
*.rar
*.png
hs_err_pid*
*.iml

*.lst
pom.properties

